server:
  port: ${SERVER_PORT:9093}

spring:
  application:
    name: user-service
  profiles:
    active: default
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/ticketing-app
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
    instances:
      project-service:
        baseConfig: default
      task-service:
        baseConfig: default
      user-service:
        baseConfig: default
  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 500ms
    instances:
      project-service:
        baseConfig: default
      task-service:
        baseConfig: default
      user-service:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 3s

eureka:
  instance:
    status-page-url-path: http://localhost:${server.port}/actuator
    health-check-url-path: http://localhost:${server.port}/actuator/health
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*" # Prometheus, Health, Metrics...
  metrics:
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      show-details: "ALWAYS"
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans

info:
  application:
    name: ${spring.application.name}
    version: '@project.version@'