server:
  port: ${SERVER_PORT:8761}

spring:
  application:
    name: discovery-service
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false # Kendisi server olduğu için kendine kayıt olmaz
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${SERVER_PORT:8761}/eureka/

management:
  zipkin:
    tracing:
      endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans
  tracing:
    sampling:
      probability: 1.0