spring:
  application:
    name: project-service
  profiles:
    active: default

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://database:5432/ticketing-app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
server:
  port: 9091

eureka:
  instance:
    status-page-url-path: /actuator/info
    health-check-url-path: /actuator/health
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/


info:
  application:
    name: ${spring.application.name}
    version: ${spring.application.version}
    description: Ticketing Microservice



management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: ALWAYS

